<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
		<h1>this is the common header</h1>
		<!-- drops in the contents of the actual template here -->
		<!-- does so w/ out escaping special html characters -->
		{{{body}}}
</body>
</html>
