{{#each articles}}
<div>{{title}} - {{content}}</div>
{{/each}}
{{error}}
<script>
		// run client side javascript to check form fields
</script>
<form method="POST" action="">
	title: <input type="text" name="title">	
	content: <input type="text" name="content">	
	<input type="submit">	
</form>
