{{#each articles}}
<div>{{title}} - {{content}}</div>
{{/each}}
<form method="POST" action="">
	title: <input type="text" name="title">	
	content: <input type="text" name="content">	
	<input type="submit">	
</form>
